<a href="https://colab.research.google.com/github/skdixodnr/my_study/blob/main/20230501.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# a = [5,4,3,2,1]
# b=a[:]
# print(id(a),id(b))

# a.sort()

[5, 4, 3, 2, 1]

In [ ]:
a = [[1, 2], [3, 4]]
b=a[:]

a[0][1] = 100

print(a)
print(b)

[[1, 100], [3, 4]]
[[1, 100], [3, 4]]

In [ ]:
# 3 & 4  & : 논리연산자가 X -> 비트연산자.
# 0011 & 0100 -> 0000

In [ ]:
3 or 4

3

In [ ]:
3 | 4

7

In [ ]:
1 == 2

False

In [ ]:
a=10
b=10
a== b
print(a==b)

True

In [ ]:
a=100

if a> 0 and (a%2)==0:
    print('a is even')

a is even

In [ ]:
a = 34
b = 4
if a % b > 3:
  print("실패")
elif a % b ==3:
  print('무승부')
else:
  print('성공')

성공

In [ ]:
birth_year = int(input("당신이 태어난 년도를 입력하세요. : "))

age = 2023 - birth_year+1

message = ""
if 20<=age and age <=26:
  message="대학생"
elif 17<=age and age<20:
  message="고등학생"
elif 14<=age and age<17:
  message="중학생"
elif 8 <=age and age<14:
  message="초등학생"
else:
  print('message')
print(message)

당신이 태어난 년도를 입력하세요. : 1998
대학생

In [ ]:
num = int(input("숫자를 입력하세요. : "))
if num %2==0:
  if num %3==0:
    print("2와 3으로 나누어 집니다.")
  else:
    print("2로 나누어 집니다.")
elif num %3==0:
  print("3으로 나누어 집니다.")
else:
  print("어느 것으로도 나누어지지 않습니다.")

숫자를 입력하세요. : 657
3으로 나누어 집니다.

In [ ]:
# 변수의 범위 지정하기
# 숫자로 범위주기:range()
# 5에서부터 0까지 카운트다운
for count in range (5, -1, -1):
  print(count)

5
4
3
2
1
0

In [ ]:
# 1부터 10까지 합을 구하시오.
sum = 0
for i in range(1,11):
  sum = sum+i
print(sum)

55

In [ ]:
# def print_stars(n):
#   for i in range(n):
#     print(" " * i + "*" * n)

# print_stars(5)

n = int(input("n:"))
for i in range(n):
    print(' '*i,end='') #end의 역할 sep와 비슷한 기능(구분자 사용) 
    print('*'*n)

n:5
*****
 *****
  *****
   *****
    *****

In [ ]:
# n = int(input("n:"))
# for i in range(1,n+1):
#   print("*"*i)

n:5
*
**
***
****
*****

In [ ]:
# n = int(input("n:"))
# for i in range(1,n+1):
#   print(" "*(n-i), end="")
#   print("*"*i)

n:5
    *
   **
  ***
 ****
*****

In [ ]:
# n = int(input('n:'))
# for i in range(n):
#   print("*"*(n-i))

n:5
*****
****
***
**
*

In [ ]:
# n = int(input('n:'))
# for i in range(n):
#   print(" "*i,end="")
#   print("*"*(n-i))

n:5
*****
 ****
  ***
   **
    *

(4) 피라미드

In [ ]:
# n = int(input('n:'))
# for i in range(1,n+1):
#   print(" "*(n-i),end="")
#   print("*"*(2*i-1))

n:5
    *
   ***
  *****
 *******
*********

## x = [3,6,9,20,-7,5]의 값의 모든 요소에 10을 곱한뒤 출력하세요.
### 심화 : 출력과 리스트x의 값에도 모두 10을 곱해주세요.

In [ ]:
x = [3,6,9,20,-7,5]
for i in x:
  print(i*10)

# # 심화
# for i in range(0,len(x)):
#   x[i] = x[i]*10

# print(x)

30
60
90
200
-70
50

## y = {"math":70,"scince":80,"english":20}의 값의 모든 요소에 10을 더한뒤 출력하세요
### 심화: 출력과 딕셔너리 y의 값에도 모두 10을 더해주세요.

In [ ]:
# y = {"maath":70 , "science":80, "english":20}

# # 심화
# for key in y:
#   val = y[key]
#   y[key] = y[key]+10
#   print("%s : %d" % (key,val+10))

maath : 80
science : 90
english : 30

1 ~ 100 임의의 숫자를 맞추시오.

In [ ]:
# import random

# true_value = random.randint(1,100)
# input_value=99999 # 임의의 값 할당.
# while True:
#   input_value = int(input("숫자를 맞춰보세요. : "))
#   if true_value < input_value:
#     print("숫자가 너무 큽니다.")
#   elif true_value > input_value:
#     print("숫자가 너무 작습니다.")
#   else:
#     print("정답입니다.입력한 숫자는 %d입니다" % true_value)
#     break

# print('숫자를 맞춰보세요.')

# while true_value !=input_value:
#   input_value = int(input())

#   if input_value>true_value:
#     print('숫자가 너무 큽니다.')
#   else:
#     print('숫자가 너무 작습니다.')
# print(f'정답입니다.입력한 숫자는 {true_value}입니다.')

숫자를 맞춰보세요. : 80
숫자가 너무 큽니다.
숫자를 맞춰보세요. : 40
숫자가 너무 작습니다.
숫자를 맞춰보세요. : 60
숫자가 너무 작습니다.
숫자를 맞춰보세요. : 70
숫자가 너무 작습니다.
숫자를 맞춰보세요. : 75
숫자가 너무 큽니다.
숫자를 맞춰보세요. : 72
숫자가 너무 작습니다.
숫자를 맞춰보세요. : 73
정답입니다.입력한 숫자는 73입니다

word = ["school","game","piano","science","hotel","mountain"]중 글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요.

In [ ]:
# word = ["school","game","piano","science","hotel","mountain"]
# a = list()
# for i in range(len(word)):
#   if len(word[i])>=6:
#     a.append(word[i])
# print(a)

['school', 'science', 'mountain']

- 1~100까지 숫자중 3과 5의 공배수일경우"3과 5의 공배수"
- 나머지 숫자중 3의 배수일 경우"3의 배수"
- 나머지 숫자중 5의 배수일 경우"5의 배수"
- 모두 해당되지 않을경우 그냥 숫자를 출력하세요

In [ ]:
num = int(input("숫자를 입력하세요. : "))
a=num%3
b=num%5
if a==0 and b==0:
  print("3과 5의 공배수")
elif a==0:
  print("3의 배수")
elif b==0:
  print("5의 배수")
elif num<1 and num>100:
  print("1~100사이의 숫자를 입력하세요.")
else:
  print(num)

숫자를 입력하세요. : 101
3의 배수

- 사용자로부터 숫자를 계속 입력받다가
s or S를 입력하면 합계출력

In [ ]:
c=0

d= 1

while (d==1):
  a = (input())
  if (a=="s" or a=="S"):
    d=0
  else:
    a = int(a)
    c +=a
print(c)

1
2
3
4
5
6
7
8
9
10
s
55

연습문제 8

In [ ]:
kor_score = [39,69,20,100,80]
math_score = [32,59,85,30,90]
eng_score = [49,70,48,60,100]
midterm_score = [kor_score,math_score,eng_score]

a_midterm_score = int((kor_score[0] + math_score[0] + eng_score[0]) / 3)
a = a_midterm_score
person_score = [
    ["사람1", a]
]
print(person_score)

[['사람1', 40]]

In [ ]:
student_score = [0,0,0,0,0]
i = 0
for subject in midterm_score: #kor
  for score in subject:
    student_score[i]+=score
    i+=1
  i=0
else:
  a,b,c,d,e = student_score
  student_average = [a/3,b/3,c/3,d/3,e/3]
  print(student_average)

[40.0, 66.0, 51.0, 63.333333333333336, 90.0]