<a href="https://colab.research.google.com/github/skdixodnr/my_study/blob/main/2_d_%EC%8B%A4%EC%8A%B5_Pandas_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

winemag.csv 파일을 reviews 로 읽는다.

In [2]:
import numpy as np
import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
reviews = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/winemag-data.csv', index_col=0)

In [ ]:
reviews

리뷰 데이터프레임에서 points 컬럼의  median 값은?

In [7]:
reviews['points'].median()

88.0

나라를 중복되지 않도록 가져와서 countries 변수에 저장하고, 화면에 출력하시오.

In [17]:
countries = reviews['country'].unique()

In [18]:
countries

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

각 국가별로는 몇개의 리뷰가 있는지, 각국가별 리뷰수를 구하시오.

In [ ]:
reviews['country'].value_counts()

In [ ]:
reviews.groupby('country')['country'].count().sort_values(ascending=False)

리뷰 데이터프레임의 price 컬럼 값에서, price의 평균값을 뺀 값을, centered_price 라고 저장하시오.

In [25]:
reviews.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [26]:
reviews['price'].mean()

35.363389129985535

In [28]:
centered_price = reviews['price'] - reviews['price'].mean()

In [29]:
centered_price

0               NaN
1        -20.363389
2        -21.363389
3        -22.363389
4         29.636611
            ...
129966    -7.363389
129967    39.636611
129968    -5.363389
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

나는 경제적이므로, 가격대비 포인트가 가장 큰 와인을 사려한다. 해당 와인의 title은?

In [54]:
reviews['가성비'] = reviews['points'] / reviews['price']

In [ ]:
reviews.sort_values('가성비', ascending=False)

사람들이 어떤와인을 더 많이 거론했는지 보려한다.

"tropical" 이 들어있는 리뷰의 갯수를 세고, "fruity" 라고 들어있는 리뷰의 갯수를 세어서

판다스 시리즈로 descriptor_counts 변수로 만들어 보자.

In [67]:
reviews[reviews['description'].str.contains('fruity')].count()

country                  9086
description              9090
designation              6334
points                   9090
price                    8050
province                 9086
region_1                 6893
region_2                 2265
taster_name              8068
taster_twitter_handle    7503
title                    9090
variety                  9090
winery                   9090
가성비                      8050
dtype: int64

In [68]:
reviews[reviews['description'].str.contains('tropical')].count()

country                  3605
description              3607
designation              2401
points                   3607
price                    3447
province                 3605
region_1                 2822
region_2                 1624
taster_name              2768
taster_twitter_handle    2580
title                    3607
variety                  3607
winery                   3607
가성비                      3447
dtype: int64

별점 시스템을 만들려고 한다. 따라서 별점에 대한 데이터가 필요하다.

별점은 1,2,3 즉 3개로 만들것이다.

포인트가 95점 이상이면 3점, 85점 이상이면 2점, 나머지는 1점으로 할 것이다. 

리뷰데이터를 통해 각 데이터의 별점을 구하시오.

In [71]:
x = reviews['points']
def func(x):
    if x >= 95 :
        return "3"
    elif 85 <= x < 95:
        return "2"
    else :
        return "1"
reviews["star points"] = reviews["points"].apply(lambda x : func(x))

In [74]:
reviews['star points'].value_counts()

2    115125
1     12430
3      2416
Name: star points, dtype: int64

리뷰의 region_2 컬럼에 데이터가 비어있는 경우에는, 'Unknown'으로 셋팅하자.

In [80]:
reviews['region_2'] = reviews['region_2'].fillna('Unknown')

In [ ]:
reviews